# Generic.
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# Quarto.
/.quarto/
/_site/

# RDS Data.
*.rds

# Folders.
_study/*

# Posts-specific.
posts/*/Code/Compiled/
# posts/*/Data/
posts/*/Output/

